.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: "Handlee", cursive;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
  padding: 15px 60px;
  border-radius: 10px;
  background: transparent;
  border: none;
  color: #8f94fb;
  box-shadow: -12px 12px 30px rgba(143, 148, 251, 0.4);
  backdrop-filter: blur(8.5px);
}

.button:hover {
    color: #696b90;
    box-shadow: -12px 12px 30px rgba(143, 148, 251, .6);
}

.message {
  font-family: "Handlee", cursive;
  color: #8f94fb;
  font-size: 2.5rem;
  text-align: center;
  padding: 0 1rem;
}
